@using Microsoft.AspNetCore.Identity
@using RegistruCentras.Web
@using RegistruCentras.Domains
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    var Name = UserManager.GetUserName(User);
}
@if (SignInManager.IsSignedIn(User))
{
    <div class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <p>Hello @Name!</p>
            </li>
            <li>
                <a asp-controller="RequestForInfo" asp-action="Index" class="btn btn-link navbar-btn navbar-link">My Requests</a>
            </li> 
            <li>
                <a asp-controller="Registration" asp-action="Logout" class="btn btn-link navbar-btn navbar-link">Logout</a>
            </li>
        </ul>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Registration" asp-action="Index">Register</a></li>
        <li><a asp-controller="Registration" asp-action="Login">Login</a></li>
    </ul>
}
